.container, .header, .footer {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.email-input, .password-input {
    display: flex;
    margin: 5px;
    justify-content: center;
    width: 100%;
}

.login-form,
.form-field {
    display: flex;
    flex-direction: column;
}

.login-form {
    gap: 1rem;
    width: 100%;
}

.form-field {
    gap: 0.25rem;
}
