<p-menubar [model]="items">
    <ng-template #item let-item let-root="root">
        <a pRipple class="menu-link p-menubar-item-link" [routerLink]="item.routerLink" [pTooltip]="item.tooltip" [tooltipOptions]="item.tooltipOptions">
            @if (item.icon) {
                <i [ngClass]="['menu-icon', 'pi', item.icon]"></i>
            }
            <span>{{ item.label }}</span>
            @if (item.badge) {
                <p-badge [ngClass]="{ 'menu-badge-nested': !root, 'menu-badge-root': root }" [value]="item.badge" />
            }
            @if (item.shortcut) {
                <span class="menu-shortcut">{{ item.shortcut }}</span>
            }
            @if (item.items) {
                <i [ngClass]="['submenu-icon', 'pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
            }
        </a>
    </ng-template>
    <ng-template #end>
        <div class="menu-actions">
            <button pButton severity="danger" (click)="onLogoutClick()">
                <i class="pi pi-sign-out" pButtonIcon></i>
                <span pButtonLabel>Wyloguj</span>
            </button>
        </div>
    </ng-template>
</p-menubar>
